body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
   
}

.banner {
    grid-column: 1/4;
	padding: 1rem;
	background-color: #eee;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 700;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/4;
    margin: 0;
}

article p {
	text-align: justify;
    grid-column: 1/3;
}

.callout {
    padding: 1.5rem;
	color: #bababa;
	background-color: #471a3f;
    grid-column: 1/4;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
