@media only screen and (min-width: 35rem) {
  .display{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 60rem) {
  .display{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  header {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    padding: 0 1rem;            
  }

  #menu {
    display: none;
  }

   .navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .navigation li {
    display: block;
  }

  .navigation a {
    text-align: center;
    padding: 0.75rem 1rem;
  }

  .more {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

}