@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=The+Girl+Next+Door&display=swap');

/*
.the-girl-next-door-regular {
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
}


.google-sans-code-<uniquifier> {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/* Color Theme Swatches in Hex */
.color-theme_gettyimages-1435310965-612x612-1-hex { color: #B016F2; }
.color-theme_gettyimages-1435310965-612x612-2-hex { color: #4616F2; }
.color-theme_gettyimages-1435310965-612x612-3-hex { color: #141A8C; }
.color-theme_gettyimages-1435310965-612x612-4-hex { color: #50E2F2; }
.color-theme_gettyimages-1435310965-612x612-5-hex { color: #1DF216; }

/* Color Theme Swatches in RGBA */
.color-theme_gettyimages-1435310965-612x612-1-rgba { color: rgba(176, 22, 242, 1); }
.color-theme_gettyimages-1435310965-612x612-2-rgba { color: rgba(70, 22, 242, 1); }
.color-theme_gettyimages-1435310965-612x612-3-rgba { color: rgba(20, 26, 140, 1); }
.color-theme_gettyimages-1435310965-612x612-4-rgba { color: rgba(80, 226, 242, 1); }
.color-theme_gettyimages-1435310965-612x612-5-rgba { color: rgba(29, 242, 22, 1); }

/* Color Theme Swatches in HSLA */
.color-theme_gettyimages-1435310965-612x612-1-hsla { color: hsla(282, 89, 51, 1); }
.color-theme_gettyimages-1435310965-612x612-2-hsla { color: hsla(253, 89, 51, 1); }
.color-theme_gettyimages-1435310965-612x612-3-hsla { color: hsla(237, 75, 31, 1); }
.color-theme_gettyimages-1435310965-612x612-4-hsla { color: hsla(185, 86, 63, 1); }
.color-theme_gettyimages-1435310965-612x612-5-hsla { color: hsla(118, 89, 51, 1); }

:root {
  --color-1: #141A8C;
  --color-2: #50E2F2;
  --color-3: #1DF216;
  --color-4: #B016F2;
  --heading-font: "The Girl Next Door", cursive;
  --main-font: "Google Sans Code", monospace; 
}

* {
margin: 0;
padding: 0;
background-color: var(--color-1);
}


