@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=The+Girl+Next+Door&display=swap');

/*
.the-girl-next-door-regular {
  font-family: "The Girl Next Door", cursive;
  font-weight: 400;
  font-style: normal;
}


.google-sans-code-<uniquifier> {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
  --color-1: #141A8C;
  --color-2: #50E2F2;
  --color-3: #1DF216;
  --color-4: #B016F2;
  --heading-font: "The Girl Next Door", cursive;
  --main-font: "Google Sans Code", monospace; 
}

* {
margin: 0;
padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 1rem;
  background-color: var(--color-1);
  color: var(--color-2); 
}

header {
background-color: var(--color-4);
margin: 0;
padding: 0;

}

#course-title {
  background-color: var(--color-4);
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  color:var(--color-3);
  text-shadow: var(--color-2) 2px 0 10px;
  margin-left: 2rem;

}

/*Menu*/

.navigation-menu {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  list-style: none;
  color: var(--color-3);

}

nav ul li {
  padding: .5rem;
}

.navigation-menu a {
  color: var(--color-1);
  text-decoration: none;
  font-size: 1.2rem;
}

.navigation-menu li a:hover {
  color: var(--color-3);
  text-shadow: var(--color-3) 3px 0 .5px;
  font-size: 1.5rem;
}

main {
  margin: .5rem;
  padding: 1rem;
  display: grid;
  grid-template: 2fr 1fr;
  gap: 2rem;
}

main h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  grid-column: 1/4;
  
}

.card-one {
  grid-column: span 1/3;
  border: .2rem solid var(--color-3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: 
  "title   title     title"
  "me-p    me-p      me"
  "py      flags-p  flags-p  ";


}

.card-one h2 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  background-color: var(--color-4);
  text-align: center;
  padding: .5rem;
  color:var(--color-3);
  text-shadow: var(--color-2) 2px 0 10px;
  grid-area: title;
}

.card-one img {
  width: 250px;
  height: auto;
  text-align: right;
  margin: 1rem;
  grid-area: me;
}
/*
.argentina {
  grid-area: arg;
  width: auto;
  height: 70px;
}

.argentina figcaption {
  margin-left: 1rem;
  font-size: .8rem;
  margin-top: 0;
}
*/

.paraguay {
  grid-area: py;
  width: 50px;
  height: auto;
}

.paraguay figcaption {
  margin-left: 1rem;
  font-size: .8rem;
  margin-top: 0;

}

.card-one-p {
  grid-area: me-p;
  margin: 1rem;
}

.flags {
  grid-area: flags-p;
  margin: 1rem;
}

.card-two {
  border: .2rem solid var(--color-3);
}

.card-two h2 {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  background-color: var(--color-4);
  text-align: center;
  padding: .5rem;
  color:var(--color-3);
  text-shadow: var(--color-2) 2px 0 10px;
  
}

.card-two ul {
  margin: .8rem;
  list-style-type: none;
  line-height: 2rem;
}

.card-two ul li a {
  color: var(--color-2);
  text-decoration: none;
}

.card-two li a:hover {
  color: var(--color-3);
  text-shadow: var(--color-3) 3px 0 .5px;
  font-size: 1.2rem;
 
}

.image-section {
  text-align: right;
  margin-bottom: 0;
}

footer {
  margin:0;
  background-color: var(--color-3);
  height: 3rem;
}

.footer-content {
 display: flex;
 flex-direction: column;

}

.footer-content p {
  color: var(--color-1);
  font-size: .8rem;
  text-align: center;
  padding-top: .5rem;
  
}

