
:root {
  --color-1: #141A8C;
  --color-2: #50E2F2;
  --color-3: #1DF216;
  --color-4: #B016F2;
  --heading-font: "The Girl Next Door", cursive;
  --main-font: "Google Sans Code", monospace; 
}


* {
margin: 0;
padding: 0;
}

body {
  font-family: var(--main-font);
  font-size: 1rem;
  background-color: var(--color-1);
  color: var(--color-2); 
}


h1 {
    font-family: var(--heading-font);
    color: var(--color-3);
    text-shadow: var(--color-2) 2px 0 10px;
    margin: 1rem 0 1rem 2rem;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.form {
    margin: 1rem 0;
    border: 3px solid var(--color-3);
    border-radius: 6px;
    padding: 1rem 2%;
}

.form label {
    display: block;
    font-size: .9rem;
    padding-top: .3rem;
}

.form input[type="date"],
.form input[type="text"],
.form select {
    display: block;
    appearance: none;
    width: 100%;
    max-width: 400px;
    padding: .75rem;
}

.form 

.form  input[type="radio"],
.form input[type="checkbox"] {
    margin: .3rem;
}

.form .radio {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.form .date {
  margin-top: 1rem;
}

.form .checkbox {
  margin-top: 1rem;
}

.form .checkbox p {
  font-size: .7rem;
}

.form .textbox {
  margin-top: 1rem;

}
.form .textbox textarea {
  width: 400px;
  height: 150px;
}

.form .name {
  margin-top: 1rem;
}

footer {
  margin:0;
  background-color: var(--color-3);
  height: 4rem;

}
#rating { 
  margin-top: 1rem;
  
}

.form input:required {
    border-right: solid 8px var(--color-4);
}

.form input:required:valid {
     border-right: solid 8px var(--color-3);
}

.form input[type="submit"] {
    border: none;
    font-size: 1.2rem;
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: 700;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: .8rem;
    box-shadow: 1px 1px 4px var(--color-3);
}


.footer-content {
 display: flex;
 flex-direction: column;

}

.footer-content p {
  color: var(--color-1);
  font-size: .8rem;
  text-align: center;
  padding-top: .5rem;
  
}

@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }
  }