body {
    font-family: "Roboto", sans-serif;

}

header, main, footer {
    max-width: 640px;
    text-align: left;
    margin: 1rem auto;
    border: 1px solid darkblue;
    padding: 1rem;
    background-color: lightblue;
    color: darkblue;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1rem;
    background-color:#fff;
}

